<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 09.11.2019, 01:03</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello my name is Lauren. I am a Django Girl.</p>
        </div>

        <div>
            <p>published: 09.11.2019, 01:04</p>
            <h2><a href="">My second post</a></h2>
            <p>I am a junior studying math at Notre Dame</p>
        </div>
    </body>
</html>